/*
Label

SmartCampus label

markup:
<span class="sc-label">Example Label</span>

Styleguide 2.2
*/

.sc-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  &:empty { // Collapse empty labels
    display: none;
  }

  // Add hover effects only for links (== clickable labels)
  a & {
    &:hover,
    &:focus {
      color: $label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &[href] {
    &:hover,
    &:focus {
      background-color: darken(white, 10%);
    }
  }
}